<table class="table table-bordered table-striped ">
  <tr><td class="col-xs-2">Facility Name</td><td><strong>{{Details.operation_name}}<strong></td></tr>
  <tr><td class="col-xs-2">Facility Address</td><td><a title="Opens in Google Maps" target="_blank" href="https://www.google.com/maps/place/{{{makeAddressString Details}}}">{{{makeAddressString Details}}}</a></td></tr>
  <tr><td class="col-xs-2">Inspection Date</td><td>{{{formatDate Details.date}}}</td></tr>
  <tr><td class="col-xs-2">Critical violations</td><td>{{Details.total_critical_violations}}</td></tr>
  <tr><td class="col-xs-2">Critical &amp; not corrected</td><td>{{Details.total_crit_not_corrected}}</td></tr>
  <tr><td class="col-xs-2">Inspection Details</td><td>{{{highlightCritical Details.violations}}}</td></tr>
</table>