<table class="table table-bordered table-hover">
  <tr><td>Facility name</td><td><strong>{{Details.operation_name}}<strong></td></tr>
  <tr><td>Shareable link</td><td><a title="Copy this link to share results" href="http://eatsafecny.org/?id={{Details.nys_health_operation_id}}">http://eatsafecny.org/?id={{Details.nys_health_operation_id}}</a></td></tr>
  <tr><td>Address</td><td><a title="Opens in Google Maps" target="_blank" href="https://www.google.com/maps/place/{{{makeAddressString Details}}}">{{{makeAddressString Details}}}</a></td></tr>
  <tr><td>Inspection Date</td><td>{{{formatDate Details.date}}}</td></tr>
  <tr><td>Critical violations</td><td>{{Details.total_critical_violations}}</td></tr>
  <tr><td>Critical &amp; not corrected</td><td>{{Details.total_crit_not_corrected}}</td></tr>
  <tr><td>Inspction Details</td><td>{{{highlightCritical Details.violations}}}</td></tr>
</table>